/* body reset */
body {
  margin: 0;
  padding: 0;
}
/* list reset */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* menu button reset */
nav.menu button {
  background: none;
  border: none;
}


/* === typography === */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* === layout === */

  button:hover {
    box-shadow: 0 0 2px 2px rgb(201, 201, 201);
  }
  
  button:focus {
    outline: none;
  }

  hr {
    margin: 0;
  }

/* === nav === */

.menu {
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 5px 10px;
}

.list .nav-button {
  font-size: inherit;
  padding: 10px 0;
  width: 100px;
}

/*  */
/* === media === */
/*  */

/* small screen */
@media screen and (max-width: 768px) {
  .list {
    position: absolute;
    transform: translateY(15px);
    text-align: center;
    box-shadow: 0 0 2px 2px rgb(201, 201, 201);
  }
  
  .toggle-menu {
    font-size: 30px;
    padding: 0 5px;
    border-radius: 5px;
  }
}

/* big screen */
@media screen and (min-width: 768px) {
  /* === nav === */
  .toggle-menu {
    display: none;
  }

  .list {
    display: flex !important;
    box-shadow: none;
  }

  .list hr {
    display: none;
  }
}